* {
  margin: 0;
  padding: 0;
}

body {
  background: #0E0E10;
  font-family: sans-serif;
  color: #fff;
}

.App {
  text-align: center;
}

/* 
////////////////////////
      PARTIE HEADER
////////////////////////
*/
.headerTop {
  background: #18181B;
  height: 50px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.listMenu {
  height: 50px;
  display: flex;
  align-items: center;
  width: 100%;
  list-style-type: none;
}

.linksNav {
  list-style-type: none;
  padding: 0 20px;
  color: #fff;
}

.linksNav:nth-child(4) {
  margin: 0 auto;
  flex-shrink: 1;
  width: 600px;
}

.link {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.link:hover{
  color: #6441A5;
  text-decoration: none;
}

.logo {
  margin-top: 15px;
}

.formSubmit {
  display: flex;
  flex-shrink: 1;
}

.logoLoupe {
  width: 20px;
}

.inputSearch {
  width: 50%;
  background-color: #fff;
  border: 2px solid #fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.liensNav button {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 4px 20px;
  border: none;
  cursor: pointer;
}

.menuResBtn {
  display: none;
  position: fixed;
  top: 10px;
  right: 20px;
  color: #fff;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.menuIco {
  width: 20px;
}

@media screen and (max-width: 950px) {
  .linksNav:nth-child(4) {
    width: 550px;
  }
}

@media screen and (max-width: 900px) {
  .listMenu {
    flex-direction: column;
    height: 250px;
    padding-top: 50px;
  }
  .linksNav {
    height: 100px;
    background: #18181B;
    width: 100%;
  }
  .linksNav:nth-child(4) {
    padding-left: 20x !important;
  }
  .linksNav:nth-child(4) {
    width: 100% !important;
    padding: 10px 0 20px 0;
  }
  .formSubmit {
    justify-content: center;
  }
  .menuResBtn {
    display: block !important;
    z-index: 1000;
  }
}

/* 
////////////////////////
      PARTIE SIDEBAR
////////////////////////
*/
.sidebar {
  position: fixed;
  top: 50px;
  width: 239px;
  background: #1F1F23;
  height: 100vh;  
}
.titleSidebar {
  padding: 30px 0 20px 0;
  color: #efebf5;
  font-size: 1rem;
  font-weight: 500;
}
.listStream {
  padding: 0 0 0 10px;
  color: #efebf5;
}

.containerFlexSidebar {
  margin-bottom: 3px;
  padding: 10px 15px 8px 5px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}
.containerFlexSidebar:hover {
  background: rgba(255,255,255,0.2);
}
.profilPicRounded {
  width: 30px;
  border-radius: 50%;
  margin-right: 5px;
}
.streamUser {
  color: #f1f1f1;
  flex-basis: 50%;
  overflow: hidden;
  text-align: left;
}
.gameNameSidebar {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #aeabb6;
  text-align: left;
  margin-top: 5px;
}
.viewerRight {
  color: #aeabb6;
  flex-basis: 30%;
  display: flex;
  justify-content: flex-end;
}
.redPoint {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-top: 6px;
  margin-right: 3px;
  background: crimson;
}

@media screen and (max-width: 1200px) {
  .sidebar {
    display: none;
  }
}

/* 
////////////////////////
      PARTIE GAMES
////////////////////////
*/
.games {
  width: 100%;
  background: #0E0E10;
  color: #fff;
}

.titleGames {
  padding-top: 90px;
  padding-left: 260px;
  padding-bottom:50px;
  font-size: 3rem;
  font-weight: 300;
}

.flexAccueil {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 260px;
}

.cardGames {
  height: 480px;
  width: 280px;
  margin: 0 30px 30px 0;
  position: relative;
  transition: all 0.4s;
  border-radius: 10px;
  box-shadow: 2px 11px 36px -16px rgba(255, 255, 255, 0.75);
}
.cardGames:hover {
  transform: translateY(-10px);
}

.imgCard {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.cardBodyGames {
  height: 144px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.btnCard {
  height: 50px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  background-color: #f1f1f1;
  font-size: 0.8rem;
  line-height: 1.125;
  border-radius: 5px;
  padding: 2px 5px;
  cursor: pointer;
}
.btnCard:hover {
  text-decoration: none;
}

.titleCardGames {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 80%;
  overflow: hidden;
  font-weight: 500;
  font-size: 1.2rem;
}

@media screen and (max-width: 1200px) {
  .titleGames {
    padding-left: 0;
  }
  .flexAccueil {
    padding-left: 30px;
  }
}

@media screen and (max-width: 600px) {
  .titleGames {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 559px) {
  .cardGames {
    margin: 0 0 30px 0;
  }
  .flexAccueil {
    padding-left: 0px;
  }
}

/* 
////////////////////////
      PARTIE GAMES
////////////////////////
*/

.cardStream {
  height: 420px;
  width: 320px;
  margin: 0 30px 30px 0;
  transition: all 0.4s;
  border-radius: 10px;
  box-shadow: 2px 11px 36px -16px rgba(255, 255, 255, 0.75);
  color: #fff;
}
.cardStream:hover {
  transform: translateY(-10px);
}

.titleCardStreams {
  font-size: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
  font-weight: bold;
}
.cardBodyStream {
  height: 180px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
}
.txtStream {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  font-size: 1.1rem;
}
.viewers{
  margin-bottom: 20px;
}

@media screen and (max-width: 559px) {
  .cardStream {
    margin: 0 0 30px 0;
  }
}

/* 
////////////////////////
      PARTIE LIVE
////////////////////////
*/
.containerDecale {
  overflow-x: hidden;
  padding-top: 50px;
  padding-left: 239px;
  color: #fff;
}
.containerInfo {
  display: flex;
  margin: 1em;
  text-align: left;
}
.profilPicture .profilRounded {
  width: 65px;
  border: 0.2em solid #6441A5;
  border-radius: 50%;
  margin-right: 15px;
}
.infos {
  display: flex;
  width: 64%;
}
.detailsInfos {
  width: 70%;
}
.infoUser {
  font-size: 1.2rem;
  font-weight: bold;
  width: 100%;
}
.titleGame {
  font-size: 0.9rem;
  font-weight: 600;
}
.nameGame {
  color: #6441A5;
  margin: 0.5em 0;
}
.infosGame {
  display: flex;
}
.infoGame {
  background: #3E3E40;
  border-radius: 9000px;
  color: #C2C2C3;
  padding: 5px 10px;
  text-align: center;
  margin-right: 10px;
  font-size: 0.8rem;
  font-weight: bold;
}

.divViewer {
  width: 30%
}
.viewer {
  width: 100%;
  text-align: right;
  color: #F65855;
}
.viewer img {
  width: 18px;
}

.containerInfosUser {
  display: flex;
  background: #18181B;
  margin: 50px 20px;
  padding: 30px 0;
  width: 68%;
}
.pictureProfilFollowers {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pictureProfilFollowers .profilRounded {
  border-radius: 50%;
  width: 100px;
}
.followers {
  font-size: 0.8rem;
  margin-top: 10px;
}
.username {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: left;
  margin-bottom: 10px;
}

@media screen and (max-width: 1200px) {
  .containerDecale {
    padding-left: 0;
  }
  .infos {
    width: 100%;
  }
  .containerInfosUser {
    width: 100%;
    margin: 50px 2%;
    flex-direction: column;
    align-items: center;
  }
  .username {
    text-align: center;
    font-size: 1.5rem;
  }
  .pictureProfilFollowers {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 630px) {
  .viewer {
    text-align: center;
  }
  .profilRounded {
    width: 40px;
  }
}

/* 
////////////////////////
    PARTIE GAMESTREAM
////////////////////////
*/
.subtitleGameStreams {
  font-size: 1.5rem;
  font-weight: 300;
  padding-left: 260px;
  padding-bottom: 50px;
}
.textColored {
  color: #6441A5;
}
@media screen and (max-width: 1200px) {
  .subtitleGameStreams {
    font-size: 1.1rem;
    padding-left: 0px;
    padding-bottom: 50px;
  }
}

/* 
////////////////////////
    PARTIE RESULTS
////////////////////////
*/
.containerDecaleResult {
  height: 100vh;
  overflow-x: hidden;
  padding-top: 50px;
  padding-left: 239px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerDecaleResult h3 {
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 1.5rem;
}

.cardResult {
  height: 580px;
  width: 350px;
  margin-bottom: 35px;
  position: relative;
  transition: all 0.4s;
  border-radius: 10px;
  box-shadow: 2px 11px 36px -16px rgba(255, 255, 255,0.75);
  margin-top: 20px;
}

.cardBodyResult {
  height: 230px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.cardBodyResult .btnCard {
  align-self: flex-end;
}

.txtResult {
  font-weight: 500;
  font-size: 1rem;
}

@media screen and (max-width:1200px) {
  .containerDecaleResult {
    overflow-x: hidden;
    padding-top: 0px;
    padding-left: 0px;
  }
  .containerDecaleResult h4 {
    padding-top: 100px;
  }
}
@media screen and (max-width:1200px) {
  .containerDecaleResult h4 {
    padding-bottom: 20px;
    font-size: 1rem;
  }
  .cardResult {
    height: 580px;
    width: 300px;
  }
}